/* Purdue Styles */
.button {
  display: inline-block;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  border: none;
  border-radius: 0;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
  padding: 0.51816rem 2px;
  transition: background-color, outline-color, outline-style, color 0.1s;
  font-family: "Archivo Narrow", "Arial Narrow", "Arial", sans-serif;
  font-size: 0.93269rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  outline-color: #c28e0e;
  background-color: #c28e0e;
  color: #000;
}

.button:before, .button:after {
  content: '';
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10px;
  width: 3.21261rem;
}

.button:before {
  order: 0;
  float: left;
}

.button:after {
  order: 2;
  float: right;
}

.button:link, .button:visited {
  text-decoration: none;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
}

.button:hover, .button:active, .button:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
  text-decoration: none;
  cursor: pointer;
}

.button-bar {
  position: relative;
  outline-style: none;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.button-bar:link, .button-bar:visited {
  outline-style: none;
}

.button-bar:hover, .button-bar:active, .button-bar:focus {
  outline-style: solid;
}

.button-icon {
  padding-right: 0;
  outline-style: none;
}

.button-icon:before, .button-icon:after {
  width: 1.96902rem;
}

.button-icon:link, .button-icon:visited {
  outline-style: none;
}

.button-icon:hover, .button-icon:visited, .button-icon:focus {
  outline-style: solid;
}

.button-slim {
  display: inline-flex;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
}

.button-slim:link, .button-slim:visited, .button-slim:hover, .button-slim:active {
  font-weight: 400;
}

.button-slim-slim:before, .button-slim-slim:after {
  width: 0.93269rem;
}

.button-slim-slim-md {
  display: inline-flex;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
}

.button-slim-slim-md:link, .button-slim-slim-md:visited, .button-slim-slim-md:hover, .button-slim-slim-md:active {
  font-weight: 400;
}

.button-slim-slim-md:before, .button-slim-slim-md:after {
  width: 0.93269rem;
}

.button:link, .button:visited {
  outline-color: #c28e0e;
  background-color: #c28e0e;
  color: #000;
}

.button:hover, .button:active, .button:focus {
  background-color: transparent;
  color: #000;
}

.button-hollow  {
  background-color: transparent;
  color: #000;
}

.button-hollow:link, .button-hollow:visited {
  background-color: transparent;
  color: #000;
}

.button-hollow:hover, .button-hollow:active, .button-hollow:focus {
  background-color: #c28e0e;
  color: #000;
}

.button-bar {
  border-bottom-color: #7b5a09;
}

.button-bar:hover, .button-bar:active, .button-bar:focus {
  outline-color: #7b5a09;
}

.button-icon .button__icon {
  background-color: #000;
  color: #fff;
}

.button-icon:hover, .button-icon:active, .button-icon:focus {
  outline-color: #000;
  background-color: #c28e0e;
  color: #000;
}

.button-icon:hover .button__icon, .button-icon:active .button__icon, .button-icon:focus .button__icon {
  color: #c28e0e;
}

.button-opaque {
  outline-color: #000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button-opaque:link, .button-opaque:visited {
  outline-color: #000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button-opaque:hover, .button-opaque:active, .button-opaque:focus {
  outline-color: #000;
  background-color: #000;
  color: #fff;
}

.button-campusGold {
  outline-color: #c28e0e;
  background-color: #c28e0e;
  color: #000;
}

.button-campusGold:link, .button-campusGold:visited {
  outline-color: #c28e0e;
  background-color: #c28e0e;
  color: #000;
}

.button-campusGold:hover, .button-campusGold:active, .button-campusGold:focus {
  outline-color: #c28e0e;
  background-color: transparent;
  color: #000;
}

.button-campusGold.button-hollow {
  outline-color: #c28e0e;
  background-color: transparent;
  color: #000;
}

.button-campusGold.button-hollow:link, .button-campusGold.button-hollow:visited {
  outline-color: #c28e0e;
  background-color: transparent;
  color: #000;
}

.button-campusGold.button-hollow:hover, .button-campusGold.button-hollow:active, .button-campusGold.button-hollow:focus {
  outline-color: #c28e0e;
  background-color: #c28e0e;
  color: #000;
}

.button-campusGold.button-bar {
  border-bottom-color: #7b5a09;
}

.button-campusGold.button-bar:link, .button-campusGold.button-bar:visited {
  border-bottom-color: #7b5a09;
  color: #000;
}

.button-campusGold.button-bar:hover, .button-campusGold.button-bar:active, .button-campusGold.button-bar:focus {
  background-color: transparent;
  outline-color: #7b5a09;
  color: #000;
}

.button-campusGold.button-icon .button__icon {
  background-color: #000;
  color: #fff;
}

.button-campusGold.button-icon:hover, .button-campusGold.button-icon:active, .button-campusGold.button-icon:focus {
  outline-color: #000;
  background-color: #c28e0e;
  color: #000;
}

.button-campusGold.button-icon:hover .button__icon, .button-campusGold.button-icon:active .button__icon, .button-campusGold.button-icon:focus .button__icon {
  color: #c28e0e;
}

.button-campusGold-inverse {
  outline-color: #000;
  background-color: #000;
  color: #c28e0e;
}

.button-campusGold-inverse:link, .button-campusGold-inverse:visited {
  outline-color: #000;
  background-color: #000;
  color: #c28e0e;
}

.button-campusGold-inverse:hover, .button-campusGold-inverse:active, .button-campusGold-inverse:focus {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-campusGold-inverse.button-hollow {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-campusGold-inverse.button-hollow:link, .button-campusGold-inverse.button-hollow:visited {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-campusGold-inverse.button-hollow:hover, .button-campusGold-inverse.button-hollow:active, .button-campusGold-inverse.button-hollow:focus {
  outline-color: #000;
  background-color: #000;
  color: #c28e0e;
}

.button-campusGold-inverse.button-bar {
  border-bottom-color: #737373;
}

.button-campusGold-inverse.button-bar:link, .button-campusGold-inverse.button-bar:visited {
  border-bottom-color: #737373;
  color: #c28e0e;
}

.button-campusGold-inverse.button-bar:hover, .button-campusGold-inverse.button-bar:active, .button-campusGold-inverse.button-bar:focus {
  background-color: transparent;
  outline-color: #737373;
  color: #98700d;
}

.button-black {
  outline-color: #000;
  background-color: #000;
  color: #fff;
}

.button-black:link, .button-black:visited {
  outline-color: #000;
  background-color: #000;
  color: #fff;
}

.button-black:hover, .button-black:active, .button-black:focus {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-black.button-hollow {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-black.button-hollow:link, .button-black.button-hollow:visited {
  outline-color: #000;
  background-color: transparent;
  color: #98700d;
}

.button-black.button-hollow:hover, .button-black.button-hollow:active, .button-black.button-hollow:focus {
  outline-color: #000;
  background-color: #000;
  color: #fff;
}

.button-black.button-bar {
  border-bottom-color: #737373;
}

.button-black.button-bar:link, .button-black.button-bar:visited {
  border-bottom-color: #737373;
  color: #fff;
}

.button-black.button-bar:hover, .button-black.button-bar:active, .button-black.button-bar:focus {
  background-color: transparent;
  outline-color: #737373;
  color: #98700d;
}

.button-black.button-icon .button__icon {
  background-color: #c28e0e;
  color: #000;
}

.button-black.button-icon:hover, .button-black.button-icon:active, .button-black.button-icon:focus {
  outline-color: #c28e0e;
  background-color: #000;
  color: #fff;
}

.button-black.button-icon:hover .button__icon, .button-black.button-icon:active .button__icon, .button-black.button-icon:focus .button__icon {
  color: #fff;
}

.button-gray15 {
  outline-color: #dedede;
  background-color: #dedede;
  color: #000;
}

.button-gray15:link, .button-gray15:visited {
  outline-color: #dedede;
  background-color: #dedede;
  color: #000;
}

.button-gray15:hover, .button-gray15:active, .button-gray15:focus {
  outline-color: #dedede;
  background-color: transparent;
  color: #000;
}

.button-gray15.button-hollow {
  outline-color: #dedede;
  background-color: transparent;
  color: #000;
}

.button-gray15.button-hollow:link, .button-gray15.button-hollow:visited {
  outline-color: #dedede;
  background-color: transparent;
  color: #000;
}

.button-gray15.button-hollow:hover, .button-gray15.button-hollow:active, .button-gray15.button-hollow:focus {
  outline-color: #dedede;
  background-color: #dedede;
  color: #000;
}

.button-gray15.button-bar {
  border-bottom-color: #b8b8b8;
}

.button-gray15.button-bar:link, .button-gray15.button-bar:visited {
  border-bottom-color: #b8b8b8;
  color: #000;
}

.button-gray15.button-bar:hover, .button-gray15.button-bar:active, .button-gray15.button-bar:focus {
  background-color: transparent;
  outline-color: #b8b8b8;
  color: #000;
}

.button-gray40 {
  outline-color: #aaaaaa;
  background-color: #aaaaaa;
  color: #000;
}

.button-gray40:link, .button-gray40:visited {
  outline-color: #aaaaaa;
  background-color: #aaaaaa;
  color: #000;
}

.button-gray40:hover, .button-gray40:active, .button-gray40:focus {
  outline-color: #aaaaaa;
  background-color: transparent;
  color: #000;
}

.button-gray40.button-hollow {
  outline-color: #aaaaaa;
  background-color: transparent;
  color: #000;
}

.button-gray40.button-hollow:link, .button-gray40.button-hollow:visited {
  outline-color: #aaaaaa;
  background-color: transparent;
  color: #000;
}

.button-gray40.button-hollow:hover, .button-gray40.button-hollow:active, .button-gray40.button-hollow:focus {
  outline-color: #aaaaaa;
  background-color: #aaaaaa;
  color: #000;
}

.button-gray40.button-bar {
  border-bottom-color: #848484;
}

.button-gray40.button-bar:link, .button-gray40.button-bar:visited {
  border-bottom-color: #848484;
  color: #000;
}

.button-gray40.button-bar:hover, .button-gray40.button-bar:active, .button-gray40.button-bar:focus {
  background-color: transparent;
  outline-color: #848484;
  color: #000;
}

.button-gray70 {
  outline-color: #707070;
  background-color: #707070;
  color: #fff;
}

.button-gray70:link, .button-gray70:visited {
  outline-color: #707070;
  background-color: #707070;
  color: #fff;
}

.button-gray70:hover, .button-gray70:active, .button-gray70:focus {
  outline-color: #707070;
  background-color: transparent;
  color: #000;
}

.button-gray70.button-hollow {
  outline-color: #707070;
  background-color: transparent;
  color: #000;
}

.button-gray70.button-hollow:link, .button-gray70.button-hollow:visited {
  outline-color: #707070;
  background-color: transparent;
  color: #000;
}

.button-gray70.button-hollow:hover, .button-gray70.button-hollow:active, .button-gray70.button-hollow:focus {
  outline-color: #707070;
  background-color: #707070;
  color: #fff;
}

.button-gray70.button-bar {
  border-bottom-color: #4a4a4a;
}

.button-gray70.button-bar:link, .button-gray70.button-bar:visited {
  border-bottom-color: #4a4a4a;
  color: #fff;
}

.button-gray70.button-bar:hover, .button-gray70.button-bar:active, .button-gray70.button-bar:focus {
  background-color: transparent;
  outline-color: #4a4a4a;
  color: #000;
}

.button-light:hover, .button-light:active, .button-light:focus {
  color: #fff;
}

.button-light.button-bar:hover, .button-light.button-bar:active, .button-light.button-bar:focus {
  color: #fff;
}

.button-light.button-hollow {
  color: #fff;
}

.button-light.button-hollow:link, .button-light.button-hollow:visited {
  color: #fff;
}

.button-light.button-hollow:hover, .button-light.button-hollow:active, .button-light.button-hollow:focus {
  color: #000;
}

.button-light.button-hollow.button-campusGold {
  color: #fff;
}

.button-light.button-hollow.button-campusGold:link, .button-light.button-hollow.button-campusGold:visited {
  color: #fff;
}

.button-light.button-hollow.button-campusGold:hover, .button-light.button-hollow.button-campusGold:active, .button-light.button-hollow.button-campusGold:focus {
  color: #000;
}

.button-light.button-hollow.button-campusGold-inverse {
  color: #fff;
}

.button-light.button-hollow.button-campusGold-inverse:link, .button-light.button-hollow.button-campusGold-inverse:visited {
  color: #fff;
}

.button-light.button-hollow.button-campusGold-inverse:hover, .button-light.button-hollow.button-campusGold-inverse:active, .button-light.button-hollow.button-campusGold-inverse:focus {
  color: #c28e0e;
}

.button-light.button-hollow.button-black {
  color: #fff;
}

.button-light.button-hollow.button-black:link, .button-light.button-hollow.button-black:visited {
  color: #fff;
}

.button-light.button-hollow.button-black:hover, .button-light.button-hollow.button-black:active, .button-light.button-hollow.button-black:focus {
  color: #fff;
}

.button-light.button-hollow.button-gray15 {
  color: #fff;
}

.button-light.button-hollow.button-gray15:link, .button-light.button-hollow.button-gray15:visited {
  color: #fff;
}

.button-light.button-hollow.button-gray15:hover, .button-light.button-hollow.button-gray15:active, .button-light.button-hollow.button-gray15:focus {
  color: #000;
}

.button-light.button-hollow.button-gray40 {
  color: #fff;
}

.button-light.button-hollow.button-gray40:link, .button-light.button-hollow.button-gray40:visited {
  color: #fff;
}

.button-light.button-hollow.button-gray40:hover, .button-light.button-hollow.button-gray40:active, .button-light.button-hollow.button-gray40:focus {
  color: #000;
}

.button-light.button-hollow.button-gray70 {
  color: #fff;
}

.button-light.button-hollow.button-gray70:link, .button-light.button-hollow.button-gray70:visited {
  color: #fff;
}

.button-light.button-hollow.button-gray70:hover, .button-light.button-hollow.button-gray70:active, .button-light.button-hollow.button-gray70:focus {
  color: #fff;
}

.button-light.button-opaque {
  outline-color: #fff;
  background-color: #000;
  background-color: rgba(250, 250, 250, 0.5);
  color: #000;
}

.button-light.button-opaque:link, .button-light.button-opaque:visited {
  outline-color: #fff;
  background-color: #000;
  background-color: rgba(250, 250, 250, 0.5);
  color: #000;
}

.button-light.button-opaque:hover, .button-light.button-opaque:active, .button-light.button-opaque:focus {
  outline-color: #fff;
  background-color: #fff;
  color: #000;
}

.button-wide {
  display: block;
  display: flex;
  width: 100%;
  min-width: auto;
}

.button-wide:before, .button-wide:after {
  width: auto;
}

.button__icon {
  transition: color, transform 0.1s;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: -0.51816rem 0;
  padding: 0 0.51816rem;
  order: 3;
  font-size: 1.625rem;
  text-align: center;
}

.button__icon > *, .button__icon.fa:before {
  transition: color, transform 0.1s;
}

#register-link.button {
	background-color: $color-rossAdeGreen!important;
}

@media (min-width: 1200px) {
  .button {
    padding: 0.625rem 2px;
    font-size: 1.125rem;
  }
  .button:before, .button:after {
    width: 3.875rem;
  }
  .button-bar {
    position: relative;


  }
  .button-bar:after {
    height: 0.3125rem;
  }
  .button-icon {
    padding-right: 0;
  }
  .button-icon:before, .button-icon:after {
    width: 2.5rem;
  }
  .button-wide:before, .button-wide:after {
    width: auto;
  }
  .button-wide-lg {
    display: block;
    display: flex;
    width: 100%;
    min-width: auto;
  }
  .button-wide-lg:before, .button-wide-lg:after {
    width: auto;
  }
  .button-wide-lg:before, .button-wide-lg:after {
    width: auto;
  }
  .button-slim:before, .button-slim:after {
    width: 1.25rem;
  }
  .button-slim-lg {
    display: inline-flex;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
  }
  .button-slim-lg:link, .button-slim-lg:visited, .button-slim-lg:hover, .button-slim-lg:active {
    font-weight: 400;
  }
  .button-slim-lg:before, .button-slim-lg:after {
    width: 1.25rem;
  }
  .button__icon {
    margin: -0.625rem 0;
    padding: 0 0.625rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .button {
    padding: 0.625rem 2px;
    font-size: 1.03632rem;
  }
  .button:before, .button:after {
    width: 4.0625rem;
  }
  .button-icon {
    padding-right: 0;
  }
  .button-icon:before, .button-icon:after {
    width: 2.6875rem;
  }
  .button-wide:before, .button-wide:after {
    width: auto;
  }
  .button-wide-sm {
    display: block;
    display: flex;
    width: 100%;
    min-width: auto;
  }
  .button-wide-sm:before, .button-wide-sm:after {
    width: auto;
  }
  .button-wide-sm:before, .button-wide-sm:after {
    width: auto;
  }
  .button-slim:before, .button-slim:after {
    width: 1.03632rem;
    flex-basis: auto;
  }
  .button-slim-sm {
    display: inline-flex;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
  }
  .button-slim-sm:link, .button-slim-sm:visited, .button-slim-sm:hover, .button-slim-sm:active {
    font-weight: 400;
  }
  .button-slim-sm:before, .button-slim-sm:after {
    width: 1.03632rem;
    flex-basis: auto;
  }
  .button__icon {
    margin: -0.625rem 0;
    padding: 0 0.625rem;
  }
}

@media (max-width: 767px) {
  .button {
    padding: 0.625rem 2px;
    font-size: 1.125rem;
  }
  .button:before, .button:after {
    width: 3.75rem;
  }
  .button-bar {
    position: relative;
  }
  .button-bar:after {
    height: 0.3125rem;
  }
  .button-icon {
    padding-right: 0;
  }
  .button-icon:before, .button-icon:after {
    width: 2.375rem;
  }
  .button-wide:before, .button-wide:after {
    width: auto;
  }
  .button-wide-xs {
    display: block;
    display: flex;
    width: 100%;
    min-width: auto;
  }
  .button-wide-xs:before, .button-wide-xs:after {
    width: auto;
  }
  .button-wide-xs:before, .button-wide-xs:after {
    width: auto;
  }
  .button-slim:before, .button-slim:after {
    width: 1.03632rem;
    flex-basis: auto;
  }
  .button-slim-xs {
    display: inline-flex;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;
  }
  .button-slim-xs:link, .button-slim-xs:visited, .button-slim-xs:hover, .button-slim-xs:active {
    font-weight: 400;
  }
  .button-slim-xs:before, .button-slim-xs:after {
    width: 1.03632rem;
    flex-basis: auto;
  }
  .button__icon {
    margin: -0.625rem 0;
    padding: 0 0.625rem;
  }
}
