/* classes used to add specific colors to content individually */

/* used in Cascade WYSIWYG */
.highlight {
	display: inline-block;
	background-color: $dust-gold;
	padding-left: .3em;
	padding-right: .3em;
}
.dark-bg .highlight {
	background-color: $aged-gold;
}
.gold-text-lightBG {
	color: $aged-gold;
}
.gold-text-darkBG {
	color: $boiler-gold;
}
/* end Cascade WYSIWYG */

.black {
	background-color: #000;
	color: $boiler-gold;
}
.gold {
	background-color: $color-campusGold;
	color: #000;
}
.gold-text {
	color: $color-campusGold;
}
.gold-header-text {
	color: $color-headlineGold;
}
.gray {
	background-color: $cool-gray;
}
.gray-text {
	color: $cool-gray;
}
.gray40 {
	background-color: $cool-gray;
	color: #000;
}
.gray70 {
	background-color: $railway-gray;
	color: #000;
}
.grayDrk {
	background-color: $steel-gray;
}
.grayLt {
	background-color: $steam-gray;
}
.white {
	background-color: #fff;
}
