.dark-bg {
	&.landing main {
		background-color: #000;
		color: #ddd;
	}
}
.landing {
	
	.feature-btn {
		padding: 20px 30px;
		display: inline-block;	
		width: 100%;
		margin-bottom: 5px;
		background-color: #222;
		color: $color-campusGold;
		font-family: $font-archivo-narrow;
		font-weight: 700;
		text-decoration: none!important;
		font-family: $font-archivo-narrow;
		font-size: 1.3em;

		&:hover {
			color: $color-campusGold;
			background-color: #333;
		}
	}
	.landing-links-title {
		font-family: $font-champion-welter!important;
		color: $color-campusGold!important;
		font-size: 1.7em;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		font-family: $font-champion-welter!important;
		color: $color-campusGold!important;
		font-size: 1.7em;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
	}
	.image-link-title {
		display: block;
		position: absolute;
		bottom: 5px;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		padding: 30px 10px;
		font-weight: 700;
		font-size: 2vw;
		font-family: $font-archivo-narrow;
		text-shadow: -1px -1px 3px #000, 0 0 7px #000;
		line-height: 1;

		&:hover {
			text-decoration: none;
		}
	}
	#intro {
		padding-bottom: 1.7em;
	}
	.landing-image-links {
		display: table;
		width: 100%;
		text-align: center;
		vertical-align: middle;
		border-collapse: separate;
		border-spacing: 5px;
		
		&.two {
			width: auto;
			margin: 0 auto;
			max-width: 100%;
		}

		.landing-image-links-row {
			display: table-row;
		}
		.landing-image-links-block {
			display: table-cell;
			position: relative;
		}

	}
	.main-content .landing-links-title {
		margin: 20px 0;
		margin-top: 60px;
	}
	.proof-point {
		margin-bottom: 30px;
	}
	#social {
		padding: 0;
	}
}

.landing.ad {
	.jumbotron.cta {
		background: transparent;
		margin-bottom: 0;
		margin-top: 0;
		padding: 1em 0;
		
		a {
			margin: 5px;
		}
	}
	.section {
		padding: 2em 0 1em 0;
	}
	.social-links {
		color: $color_campusGold;
		font-size: 3em;
		
		a {
			margin: 5px;
		}
		
	}
}


/* media queries */
@include desktopLarge {
	.landing {
		.two {
			.image-link-title {
				font-size: 2.7vw;
			}
		}
	}
}
@include desktopLargeMax {
	.landing {
		.three {
			.image-link-title {
				font-size: 2.5vw;
			}
		}
		.two {
			.image-link-title {
				font-size: 3.1vw;
			}
		}
	}
}
@include desktopSmallMax {
	.landing {
		.four {
			.image-link-title {
				font-size: 2.2vw;
			}
		}
	}
	.landing.ad {
		.social-links {
			font-size: 2em;

		}
	}
}
@include tabletMax {
	.landing {
		.three {
			.image-link-title {
				font-size: 2.9vw!important;
				bottom: 0;
			}
			.landing-image-links-block {
				width: 33%;
				float: left;
				border: 2px solid black;
				
				img {
					display: block;
				}
				
			}
		}
		.four {
			.image-link-title {
				font-size: 3.8vw;
			}
		}
		.four, .two {
			.landing-image-links-block {
				width: 50%;
				float: left;
				border: 4px solid black;
				
				img {
					display: block;
				}
				
			}
			.image-link-title {
				bottom: 0;
			}
		}
		.landing-image-links,
		.landing-image-links-row,
		.landing-image-links-block {
			display: block!important;
		}
		
	}
	
}
@include phoneMax {
	.landing {
		.image-link-title {
			position: static!important;
			background-color: $color-campusGold;
			color: #000;
		}
		.landing-image-links-block {
			width: 100%!important;
			img {
				display: none!important;
			}

		}
		.main-content .image-link-title {
			text-shadow: none;
			font-size: 6vw!important;
			&:hover {
				color: #000;
			}
		}
	}
	
}