/* general layout */
* {
    box-sizing: border-box;
}
/* older browsers  */
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body {
	color: #111;
	background-color: #fff;
	
	&.dark-bg, 
	&.light-bg {
		color: #ddd;
		background-color: #000;
	}
}
	
blockquote {
	position: relative;
    border: none!important;
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
	quotes: none;
	
	&.quote-mark {
		padding-left: 4rem;
	}
	.svg-container {
		width: 50px;
		height: 50px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.quote__content {
		display: block;
		padding: 0;
		margin: 0;
		margin-bottom: .5rem;
	}
	.quote__source {
		display: block;
		padding: 0;
		margin-bottom: 0;
	}
}
button.disabled {
	opacity: 0.3;
}
button:focus {
	outline: none;
}
.carousel-text-wrap {
	position: relative;
	
	.carousel-text-item {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		
		&.current {
			opacity: 1;
		}
	}
}
.dark-bg {
	figure figcaption {
		color: lighten($color-campusGold,10);
	}
	main {
		background-color: #222;
		color: #ddd;
	}
	.main-content {
		h1,
		h2,
		h3 {
			color: #8C8C8C;
		}
		h4,
		h5,
		h6 {
			color: lighten($color-campusGold,5);
		}
		.lead {
			color: lighten($color-campusGold,5);
		}
	}
	table {
		color: #ddd;
	}
	.vid-wrapper {
		background-color: #111;
	}
}
.feature .main-content .jumbotron {
	p:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}



figure {
	
	padding: 0;
	display: inline-block;
	
	&.right {
		margin-left: 20px;
		margin-top: .5em;
	}
	&.left {
		margin-right: 20px;
		margin-top: .5em;
	}
	&.center {
		width: 100%;
		margin-top: 10px;
	}
	img {
		padding: 0;
		margin: 0 auto;
		display: block;
	}
	figcaption {
		color : #98700D;
		background-color: transparent;
		padding: 10px;
		width: 100%;
	}
}
img,
picture {
	max-width: 100%;
	height: auto;
}
picture {
	display: block;
}
#inner-page-content {
	padding: 10px 0 30px 0;
}
#intro {
    @include black-lines-on-gray;
	
	h1 {
		color: $color-campusGold;
		margin-top: .8em;
		margin-bottom: 0;
		padding: 10px 0;
	}
}
#intro-text {
	margin-top: 1.7em;
}
#intro-text-container {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.jumbotron hr {
	border-color: $color-yellowWalk;
}
main {
	background-color: #fff;
	color: #000;
}
#main {
	.sidebar-vid-container {
		background-color: #c28e0e;
		padding: 5px 0;
	}
	iframe.side-video {
		max-width: 100%;
	}
}
.main-content {
	> img,
	> picture {
		margin-bottom: 1em;
	}
	
	.jumbotron {

		img {
			padding: 2rem;
			padding-top: 0;
			display: block;
			margin: 0 auto;

			&.right {
				padding-right: 0;
			}
			&.left {
				padding-left: 0;
			}
			&.center {
				padding-left: 0;
				padding-right: 0;
			}
		}
		iframe.single {
			padding: 1rem;
			padding-top: 0;
			display: block;
			margin: 0 auto;

			&.right {
				padding-right: 0;
			}
			&.left {
				padding-left: 0;
			}
			&.center {
				width: 100%;
				height: 550px;
				padding: 0;
			}
		}
		.row div[class*="col"] img {
			padding: 0!important;
			margin-bottom: 1em;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000!important;
		}
	}

}

.vid-wrapper {
		background-color: $color-gray15;
	}
iframe {
	display: block;
	margin: 0 auto;
	
	&.video {
		border-top: 5px solid $color-campusGold;
		border-bottom: 5px solid $color-campusGold;
		margin-bottom: 10px;
		max-width: 100%;
	}
	&.j-side {
		margin-bottom: 1em;
	}
}



/* media queries */
@include desktopLargeMax {
	iframe {
		&.video {
			width: 609px;
			height: 350px;
		}
		&.j-side {
			height: 139px;
		}
		&.full {
			width: 100%;
			height: 535px;
		}
	}
	div[class*="-12 "] iframe {
		&.video {
			width: 100%;
			height: 535px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 350px;
		}
	}
	#main {
		iframe.side-video {
			height: 165px;
		}
	}
	.main-content .jumbotron {
		iframe.single {

			&.center {
				height: 449px;
			}
		}
	}
}
@include desktopSmallMax {
	
	iframe,
	div[class*="-12 "] iframe {
		&.video {
			width: 690px;
			height: 398px;
		}
		
		&.j-side {
			height: 106px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 263px;
		}
	}
	#main {
		iframe.side-video {
			width: 560px;
			height: 314px;
		}
		.sidebar-vid-container {
			padding-bottom: 15px
		}
	}
	.main-content .jumbotron {
		iframe.single {

			&.right,
			&.left {
				width: 100%;
				height: 350px;
				padding: 0;
				margin-bottom: 3rem;
			}
			&.center {
				height: 350px;
			}
		}
	}
}
@include tabletMax {
	iframe,
	div[class*="-12 "] iframe {
		&.video {
			width: 510px;
			height: 295px;
		}
		&.j-side {
			height: 251px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 295px;
		}
	}
	#sidebar {
		padding-top: 2em;
	}
	#main {
		.accordion iframe {
			width: 100%;
			height: 270px;
		}
		iframe.side-video {
			width: 350px;
			height: 198px;
		}
		
	}
	.main-content .jumbotron {
		iframe.single {

			&.center,
			&.left,
			&.right {
				height: 250px;
			}
		}
	}
	blockquote.quote-mark {
		 padding-left: 2.5rem;
		.svg-container {
			width: 30px;
			height: 30px;
			top: 14px;
		}
	} 
	figure {
		display: block;
		width: 100%;
	}
}
@include phoneMax {
	iframe,
	div[class*="-12 "] iframe {
		&.video,
		&.j-side,
		&.center,
		&.right,
		&.left {
			width: 280px!important;
			height: 158px!important;
			max-width: 280px;
			border: none;
		}
		&.right,
		&.left {
			margin-bottom: 2em!important;
			margin-left: 0!important;
		}
		&.center {
			margin-left: 0!important;
		}
	}
	blockquote.quote-mark {
		padding-left: 0;
		.svg-container {
			top: .5em;
			width: 20px;
			height: 20px;
		}
		.quote__content {
			text-indent: 30px;
		}
	} 
	
}