/* general layout and colors */
* {
    box-sizing: border-box;
}
/* older browsers  */
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body {
	color: #333;
	background-color: #fff;
	
	&.dark-bg, 
	&.light-bg {
		color: lighten($steam-gray,10);
		background-color: #000;
	}
}
	
button.disabled {
	opacity: 0.3;
}
button:focus {
	outline: none;
}
.carousel-text-wrap {
	position: relative;
	
	.carousel-text-item {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		
		&.current {
			opacity: 1;
		}
	}
}
.dark-bg {
	figure figcaption {
		color: lighten($boiler-gold,5);
	}
	#intro {
		background-color: $aged-gold;

		h1 {
			color: #fff;
		}
	}
	main {
		background-color: #333;
		color: #eee;
	}
	.main-content {
		h1,
		h2,
		h3 {
			color: $steam-gray;
		}
		h4,
		h5,
		h6 {
			color: lighten($boiler-gold,5);
		}
	}
	.vid-wrapper {
		background-color: #111;
	}
}
.feature .main-content .jumbotron {
	p:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}



figure {
	
	padding: 0;
	display: inline-block;
	
	&.right {
		margin-left: 20px;
		margin-top: .5em;
	}
	&.left {
		margin-right: 20px;
		margin-top: .5em;
	}
	&.center {
		width: 100%;
		margin-top: 10px;
	}
	img {
		padding: 0;
		margin: 0 auto;
		display: block;
	}
	figcaption {
		color : #8e6f3e;
		background-color: transparent;
		padding: 10px;
		width: 100%;
	}
}
img,
picture {
	max-width: 100%;
	height: auto;
}
picture {
	display: block;
}
#intro {
    background-color: #c4bfc0;
	
	h1 {
		color: #000;
		margin-top: 1em;
		margin-bottom: 0;
		padding: 10px 20px;
		padding-left: 0;
		text-transform: uppercase;
	}
}
#intro-text {
	margin-top: 1.7em;
}
#intro-text-container {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
main {
	background-color: #fff;
	color: #333;
	line-height: 1.7;
	padding-bottom: 3em;
	
	a, a:visited {
		color: inherit;
	}
}
.landing main {
	padding-bottom: 0;
}
#main {
	.sidebar-vid-container {
		background-color: #cfb991;
		padding: 5px 0;
	}
	iframe.side-video {
		max-width: 100%;
	}
}
.main-content {
	padding-top: 10px; 
	> img,
	> picture {
		margin-bottom: 1em;
	}
	
	.jumbotron {

		img {
			padding: 2rem;
			padding-top: 0;
			display: block;
			margin: 0 auto;

			&.right {
				padding-right: 0;
			}
			&.left {
				padding-left: 0;
			}
			&.center {
				padding-left: 0;
				padding-right: 0;
			}
		}
		iframe.single {
			padding: 1rem;
			padding-top: 0;
			display: block;
			margin: 0 auto;

			&.right {
				padding-right: 0;
			}
			&.left {
				padding-left: 0;
			}
			&.center {
				width: 100%;
				height: 550px;
				padding: 0;
			}
		}
		.row div[class*="col"] img {
			padding: 0!important;
			margin-bottom: 1em;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000!important;
		}
	}

}

.vid-wrapper {
		background-color: lighten($steam-gray,15);
	}
iframe {
	display: block;
	margin: 0 auto;
	
	&.video {
		border-top: 5px solid $color-campusGold;
		border-bottom: 5px solid $color-campusGold;
		margin-bottom: 10px;
		max-width: 100%;
	}
	&.j-side {
		margin-bottom: 1em;
	}
}
.dark-bg {
	iframe {
		&.video {
			border-top: 5px solid $aged-gold;
			border-bottom: 5px solid $aged-gold;
		}
	}
}



/* media queries */
@include desktopLargeMax {
	iframe {
		&.video {
			width: 609px;
			height: 350px;
		}
		&.j-side {
			height: 139px;
		}
		&.full {
			width: 100%;
			height: 535px;
		}
	}
	div[class*="-12 "] iframe {
		&.video {
			width: 100%;
			height: 535px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 350px;
		}
	}
	#main {
		iframe.side-video {
			height: 165px;
		}
	}
	.main-content .jumbotron {
		iframe.single {

			&.center {
				height: 449px;
			}
		}
	}
}
@include desktopSmallMax {
	
	iframe,
	div[class*="-12 "] iframe {
		&.video {
			width: 690px;
			height: 398px;
		}
		
		&.j-side {
			height: 106px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 263px;
		}
	}
	#main {
		iframe.side-video {
			width: 560px;
			height: 314px;
		}
		.sidebar-vid-container {
			padding-bottom: 15px
		}
	}
	.main-content .jumbotron {
		iframe.single {

			&.right,
			&.left {
				width: 100%;
				height: 350px;
				padding: 0;
				margin-bottom: 3rem;
			}
			&.center {
				height: 350px;
			}
		}
	}
}
@include tabletMax {
	iframe,
	div[class*="-12 "] iframe {
		&.video {
			width: 510px;
			height: 295px;
		}
		&.j-side {
			height: 251px;
		}
	}
	.col-md-8 iframe {
		&.video {
			height: 295px;
		}
	}
	#sidebar {
		padding-top: 2em;
	}
	#main {
		.accordion iframe {
			width: 100%;
			height: 270px;
		}
		iframe.side-video {
			width: 350px;
			height: 198px;
		}
		
	}
	.main-content .jumbotron {
		iframe.single {

			&.center,
			&.left,
			&.right {
				height: 250px;
			}
		}
	}
	
	figure {
		display: block;
		width: 100%;
	}
}
@include phoneMax {
	iframe,
	div[class*="-12 "] iframe {
		&.video,
		&.j-side,
		&.center,
		&.right,
		&.left {
			width: 280px!important;
			height: 158px!important;
			max-width: 280px;
			border: none;
		}
		&.right,
		&.left {
			margin-bottom: 2em!important;
			margin-left: 0!important;
		}
		&.center {
			margin-left: 0!important;
		}
	}
	
}

/* new brand */ 
.transition {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
}
