/* for all the college & schools pages, and majors pages */

/* mockup version (3 more)*/
$arts: $field-gold;
$athletics: $field-gold;
$aviation: $field-gold;
$business: $field-gold;
$computers: $field-gold;
$communication: $field-gold;
$engineering: $field-gold;
$technology: $field-gold;
$environment: $field-gold;
$healthcare: $field-gold;
$law: $field-gold;
$marketing: $field-gold;
$math: $field-gold;
$perform: $field-gold;
$programming: $field-gold;
$public: $field-gold;
$randd: $field-gold;
$science: $field-gold;
$education: $field-gold;

/* actual version -- these override the ones above */
$iAg: $field-gold;
$iAth: $field-gold;
$iBiz: $field-gold;
$iProg: $field-gold;
$iEngin: $field-gold;
$iEnviro: $field-gold;
$iHealth: $field-gold;
$iLaw: $field-gold;
$iMarket: $field-gold;
$iMath: $field-gold;
$iPub: $field-gold;
$iSci: $field-gold;
$iTeach: $field-gold;
$iUn: $field-gold;
$iArts: $field-gold;
$ipProf: $field-gold;


/* AGRICULTURE
ATHLETICS
BUSINESS / MANAGEMENT
COMPUTER PROGRAMMING AND INFORMATION SYSTEMS
ENGINEERING AND TECHNOLOGY
ENVIRONMENT AND ECOLOGY
HEALTHCARE
LAW
MARKETING, ADVERTISING, COMMUNICATION, AND WRITING
MATHEMATICS
PUBLIC SERVICE OR SOCIAL SCIENCES
SCIENCE AND RESEARCH
TEACHING AND EDUCATION
UNDECIDED
VISUAL OR PERFORMING ARTS 


Agriculture  -- agriculture
Athletics  -- athletics
Business / Management -- business-management
Computer Programming and Information Systems -- computer-programming-information-systems
Engineering and Technology --  engineering-technology
Environment and Ecology  --  environment-ecology
Healthcare  --  healthcare
Law  --  law
Marketing, Advertising, Communication, and Writing  --  marketing-advertising-communication-writing
Mathematics  --  mathematics
Public Service or Social Sciences --- public-service-social-sciences
Science and Research  --  science-research
Teaching and Education  -- teaching-education
Undecided  --  undecided
Visual or Performing Arts  --  visual-performing-arts

*/

.alpha {
	display: block;
	float: left;
	width: (100%/26);
	font-family: $united-sans-extended;
	font-size: 1em;
	color: #ccc!important;
	text-align: center;
	padding: 5px 0;
	
	&:hover,
	&:focus {
		background-color: #111;
		color: $color-campusGold!important;
		
	}
	
}
.autocomplete {
	position: relative;
	width: 100%;
	z-index: 5000;
	top: 3px;
	cursor: pointer;
	
	#autocomplete {
		position: absolute;
		background-color: #333;
		color: $color_campusGold;
		display: inline-block;
		width: auto;
		@include box-shadow(3px 8px 8px, #000, 0.5);
		padding: .5em;
		
		a {
			background-color: #333;
			color: $color_campusGold;
			border: none;
			text-transform: capitalize;
			text-decoration: none;
			display: inline-block;
			
			&:hover {
				color: #fff;
			}
		}
		
		
	}
}
#career-text {
	border-top: 5px solid #555960;
	border-bottom: 5px solid #555960;
	color: #ccc;padding-top: 1em;
}
.college-list-group {
    margin: 0;
    padding: 0;
	
	li {
		margin: 0;
		padding: 0;
		display: inline;
		
		a {
			margin: 1px;
			padding: 10px;
			display: block;
			width: 33%;
			float: left;
			background-color: #000;
			color: $color-campusGold;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-family: $united-sans;
			font-weight: 300;
			overflow: hidden;
			text-decoration: none;
			
			&:hover {
				color: $color-campusGold;
				background-color: #222;
				text-decoration: none;
			}
		}
	}
}

#clear-all {
	font-size: .8em!important;
	font-weight: bold;
	margin-top: -2em;
	
	&.disabled {
		display: none;
	}
}

#college-panels {
	ul {
		margin: 0;
		padding: 0;
		display: inline;
		
		li {
			display: inline;
			margin: 0;
			padding: 0;

			a {
				display: inline-block;
				margin: 2px 0;
				padding: 5px 10px;
				background-color: #000;
				color: $boiler-gold;
				text-decoration: none;
				font-size: .9em;
				font-family: $united-sans;
				font-weight: 600;
				
				&:hover {
					background-color: #fff;
					color: #000;
				}
				
				i {
					display:none;
				}
			}
		}
	}
	&.interests {
		li a {
			background-color: $railway-gray;
			color: #000;
			display: block;
			float: left;
			margin: 2px;
			padding: 10px 20px;
			font-family: $united-sans;
			font-weight: 700;
		}
		.all-majors a {
			background-color: transparent;
			color: #fff;
			
			
			&:hover {
				color: $color-campusGold;
			}
			
			i {
				display: inline!important;
				color: $color_campusGold;
			}
		}
	}
	
	/* mock-up */
	&.arts {
		.arts .arts {
			color: $arts;
			display: inline;
		}
	}
	&.athletics {
		.athletics .athletics {
			color: $athletics;
			display: inline;
		}
	}
	&.aviation {
		.aviation .aviation {
			color: $aviation;
			display: inline;
		}
	}
	&.business {
		.business .business {
			color: $business;
			display: inline;
		}
	}
	&.computers {
		.computers .computers {
			color: $computers;
			display: inline;
		}
	}
	&.comm {
		.comm .comm {
			color: $communication;
			display: inline;
		}
	}
	&.engin {
		.engin .engin {
			color: $engineering;
			display: inline;
		}
	}
	&.tech {
		.tech .tech {
			color: $technology;
			display: inline;
		}
	}
	&.enviro {
		.enviro .enviro {
			color: $environment;
			display: inline;
		}
	}
	&.health {
		.health .health {
			color: $healthcare;
			display: inline;
		}
	}
	&.law {
		.law .law {
			color: $law;
			display: inline;
		}
	}
	&.marketing {
		.marketing .marketing {
			color: $marketing;
			display: inline;
		}
	}
	&.math {
		.math .math {
			color: $math;
			display: inline;
		}
	}
	&.perform {
		.perform .perform {
			color: $perform;
			display: inline;
		}
	}
	&.program {
		.program .program {
			color: $programming;
			display: inline;
		}
	}
	&.public {
		.public .public {
			color: $public;
			display: inline;
		}
	}
	&.randd {
		.randd .randd {
			color: $randd;
			display: inline;
		}
	}
	&.sci {
		.sci .sci {
			color: $science;
			display: inline;
		}
	}
	&.teach {
		.teach .teach {
			color: $education;
			display: inline;
		}
	}
	/* final */
	&.agriculture {
		.agriculture .agriculture {
			color: $iAg;
			display: inline;
		}
	}
	&.athletics {
		.athletics .athletics {
			color: $iAth;
			display: inline;
		}
	}
	&.business-management {
		.business-management .business-management {
			color: $iBiz;
			display: inline;
		}
	}
	&.computer-programming-information-systems {
		.computer-programming-information-systems .computer-programming-information-systems {
			color: $iProg;
			display: inline;
		}
	}
	&.engineering-technology {
		.engineering-technology .engineering-technology {
			color: $iEngin;
			display: inline;
		}
	}
	&.environment-ecology {
		.environment-ecology .environment-ecology {
			color: $iEnviro;
			display: inline;
		}
	}
	&.healthcare {
		.healthcare .healthcare {
			color: $iHealth;
			display: inline;
		}
	}
	&.law {
		.law .law {
			color: $iLaw;
			display: inline;
		}
	}
	&.marketing-advertising-communication-writing {
		.marketing-advertising-communication-writing .marketing-advertising-communication-writing {
			color: $iMarket;
			display: inline;
		}
	}
	&.mathematics {
		.mathematics .mathematics {
			color: $iMath;
			display: inline;
		}
	}
	&.public-service-social-sciences {
		.public-service-social-sciences .public-service-social-sciences {
			color: $iPub;
			display: inline;
		}
	}
	&.science-research {
		.science-research .science-research {
			color: $iSci;
			display: inline;
		}
	}
	&.teaching-education {
		.teaching-education .teaching-education {
			color: $iTeach;
			display: inline;
		}
	}
	&.undecided {
		.undecided .undecided {
			color: $iUn;
			display: inline;
		}
	}
	
	&.visual-performing-arts {
		.visual-performing-arts .visual-performing-arts {
			color: $iArts;
			display: inline;
		}
	}
	&.pre-professional {
		.pre-professional .pre-professional {
			color: $ipProf;
			display: inline;
		}
	}
}
.dark-bg {
	&.school {
		.main-content {
			h4,
			h5,
			h6 {
				color: #8C8C8C;
			}
			.jumbotron {
				background-color: #222;
				
				.button-bar {
					background-color: #222;
				}
			}
			.jumbotron .side .chart-title {
				color: $railway-gray!important;
			}
		}
		
	}
}
.degree-in-3-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left: .2em;
	color: $color_campusGold;
	font-family: $united-sans-condensed;
	font-weight: normal!important;
}

#interest-check,
#school-check {
	label {
		line-height: 1.1em;
		font-size: 1.3em;
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
		padding-right: 15px;
		vertical-align: middle;
	}
	input[type="checkbox"],
	input[type="radio"] {
		width: 1.1em;
		height: 1.3em;
		margin: 0;
		margin-top: -2px;
		padding: 0;
		line-height: 1.3em;
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}
}
#school-check label {
	color: $steam-gray;
}
#interest-check  {
	/* mock up */
	.arts {
		color: $arts;
	}
	.athletics {
		color: $athletics;
	}
	.aviation {
		color: $aviation;
	}
	.business {
		color: $business;
	}
	.computers {
		color: $computers;
	}
	.comm {
		color: $communication;
	}
	.engin {
		color: $engineering;
	}
	.tech {
		color: $technology;
	}
	.enviro {
		color: $environment;
	}
	.health {
		color: $healthcare;
	}
	.law {
		color: $law;
	}
	.marketing {
		color: $marketing;
	}
	.math {
		color: $math;
	}
	.perform {
		color: $perform;
	}
	.program {
		color: $programming;
	}
	.public {
		color: $public;
	}
	.randd {
		color: $randd;
	}
	.sci {
		color: $science;
	}
	.teach {
		color: $education;
	}
	/* final */
	.agriculture {
		color: $iAg;
	}
	.athletics {
		color: $iAth;
	}
	.business-management {
		color: $iBiz;
	}
	.computer-programming-information-systems {
		color: $iProg;
	}
	.engineering-technology {
		color: $iEngin;
	}
	.environment-ecology {
		color: $iEnviro;
	}
	.healthcare {
		color: $iHealth;
	}
	.law {
		color: $iLaw;
	}
	.marketing-advertising-communication-writing {
		color: $iMarket;
	}
	.mathematics {
		color: $iMath;
	}
	.public-service-social-sciences {
		color: $iPub;
	}
	.science-research {
		color: $iSci;
	}
	.teaching-education {
		color: $iTeach;
	}
	.undecided {
		color: $iUn;
	}
	.visual-performing-arts {
		color: $iArts;
	}
	.pre-professional {
		color: $ipProf;
	}
}

#open-all, #close-all {
	color: #C4BFC0;
}
h1 .btn-degree-in-3 {
	font-size: .6em;
	text-decoration: none;
	color: $color-fountainRunTeal;
	background: linear-gradient(to right, $color-rossAdeGreen 0%, $color-fountainRunTeal 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include transition(padding 200ms ease-in);
		
	i {
		color: $color-fountainRunTeal;
		background: none;
		-webkit-background-clip: none;
		-webkit-text-fill-color: $color-fountainRunTeal;
		@include transition(font-size 200ms ease-in);
	}
	&:hover {
		padding-left: 30px;
		i {
			font-size: 1.2em;
		}
	}
	
}
.hide-major {
	display:none!important;
}

.main-content {
	.degree-in-3-box {
		color: $color-springFestGreen;
		padding: 1em 0;

		.degree-in-3-head {
			color: $color-fountainRunTeal!important;
			background: linear-gradient(to right, $color-rossAdeGreen 0%, $color-fountainRunTeal 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-transform: uppercase;
			margin-top: .3em;
			border-bottom: 2px solid $color-fountainRunTeal;
		}
		hr {
			margin: 0;
		}
	}
	.filter-title {
		margin: .8em 0 .5em 0!important;
		font-size: 2.3em;
	}
	.jumbotron {
		&.profile, 
		&.cta {
			margin-top: -30px;
			background-color: $steam-gray!important;
			color: #000;
			
			.button {
				margin: 5px 3px;
			}
		}
		&.cta {
			background-color: #000;
		}
		&.profile {

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: #000!important;
				margin-bottom: .5em;
			}
			img {
				margin: 0 auto;
				margin-top: 0; 
				padding-top: 0
			}
			hr {
				border-color: $steel-gray;
				width: 80%;
				margin: 1em auto;
				border-style: dashed;
			}
		}

	}
	#careers-list {
		margin: 0;
		padding: 0;
		padding-left: 0;

		.list-group-item {
			margin: 0;
			padding: 5px;
			background-color: transparent;
			border: none;
			border-top: 1px solid #555960;
			text-align: left;
			font-size: 1.1em;
			color: $steam-gray;

		}
	}
}
.majors {
	.aside {
		.accordion {
			background-color: transparent;
			margin: 0;
			
			.accordion__heading {
				background-color: #222;
			}
		}
		.majors-accordion {
			background-color: transparent;
			padding: 0;
			padding-top: 1em;
		}
	}
	
	
	.desc > p:first-child {
		font-weight: 700;
		font-size: 1.3em;
		line-height: 1.4;
	}
	.desc + .text-center.grayDrk img {
		display: block;
	}
	.col-lg-8 {
		h2,
		h3,
		h4 {
			color: $color-campusGold!important;
		}
		#POS {
			
			.list-group-item {
				margin: 0;
				padding: 0;
				padding-left: 0;
				background-color: transparent;
				border: none;
				
				
				a {
					color: #c4bfc0;
					font-size: 1.2em;
					font-weight: 700;
					font-family: $united-sans;
					text-decoration: underline;
					
					&:hover {
						color: #fff;
					}
				}
			}
		} 
	}
	
	
	hr {
		border-color: #555960;
		&.spacer,
		&.striped-gold {
			border-color: transparent;
		}
	}
	.vid-wrapper {
		margin-top: 1em;
	}
	
}
.all-majors #inner-page-content {
	background-color: #333;
}
#majors-divider {
	margin-top: 0;
}
.m-legend {
	font-size: 15px;
	line-height: 1;
	padding-left: 5px;
	margin-bottom: 5px;
	color: $railway-gray;
	
	span {
		font-weight: 900;
	}
}
.no-js {
	.school .college-list-group {
		display: none!important;
	}
}

#search-majors {
	padding-top: 10px;
	
	input[type="text"] {
		background-color: #333;
		border-color: $color_campusGold;
		color: #fff;
	}
	.input-group-text {
		background-color: $color_campusGold;
		color: #000;
		border-color: $color_campusGold;
		
		&:hover {
			cursor: pointer;
		}
	}
}
.school {
	.additional {
		h2, h3, h4 {
			&:first-child {
				margin-top: .5em;
			}
		}
	}
	.aside .list-inline {
		width: 100%;
	}
	.aside .list-inline li {
		display: block;
		margin: 0;
		padding: 0;
		margin-bottom: 1px;
		
		a {
			display: block;
			margin: 0;
			margin-bottom: 5px;
			padding: 5px 10px;
			background-color: transparent;
			color: $steam-gray;
			font-size: 1.2em;
			font-weight: 700;
			font-family: $united-sans;
			text-decoration: underline;
			
			
			&:hover {
				color: #fff;
			}
		}
	}
	.chart-title {
		margin-top: 2em;
		margin-bottom: .5em;
		
	}
	.jumbotron {
		
		.text {
			font-size: 90%;
		}
	}
	
	.main-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			
		}
	}
	.major-personal {
		font-size: 90%;
		background-color: $steam-gray;
		color: #000;
		padding: 30px;
		margin: 1em 0;
		
		button {
			clear:both;
			background-color: transparent!important;
			color: #000!important;
		}
		img {
			max-width: 200px;
			height: auto;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000!important;
		}
		hr {
			border-color: #999;
			width: 80%;
			margin: 1em auto;
			border-style: dashed;
		}
		.major-personal-title {
			margin-top: 0;
			display: inline-block;
			
		}
		
		.portrait {
			margin: 0 0 1em 1em;
		}
		
	}
	.salary-title {
		font-size:140%;
		font-family: $acumin-pro-extra-condensed; 
		color:$railway-gray;
	}
	.salary {
		font-family: $united-sans-condensed;
		color:$railway-gray;
		font-weight: 700!important;
	}
	.vid-wrapper {
		background-color: #161616;
	}
	.text .vid-wrapper {
		padding: 0;
		margin-bottom: 2em;
		background-color: #161616;
		
		iframe {
			display: block;
		}
	}
	.side .note {
		color:$railway-gray;
	}
}

.single-major-cta {
	margin: 70px 0;
	display: block;
	height: inherit;
	
	a {
		margin: 5px 3px;
	}
}


/* ------------------------------------------------
	Get on mailing list form 
-------------------------------------------------*/

#mailing-list {
	margin-top: 2em;
	
	.action {
		margin: 2em 0;
		
		button {
			padding: 10px 25px;
			border: none;
			font-weight: bold;
			background-color: $color-campusGold;
			color: #000;
		}
	}
	
	label,
	input[type="text"],
	input[type="email"],
	textarea,
	div {
		display: block!important;
		width: 100%!important;
		float: none;
	}
	input[type="email"],
	textarea,
	input[type="text"],
	select {
		border: none!important;
		border-bottom: #9D9795 solid 1px!important;
		color: lighten($color-campusGold, 10)!important;
		background-color: #333!important;
		padding: 2px 10px!important;
		margin-bottom: 10px;
	}
	select {
		margin-bottom: 10px;
	}
	fieldset .form_responses {
		padding-left: 2em!important;
		
		label {
			margin-top: 10px;
		}
		
		.form_response {
			margin-left: -2em!important;
		}
	}
	input[type="checkbox"] + label {
		display: inline!important;
		padding: 2px 10px!important;
		margin-bottom: 10px;
	}
	input[type="checkbox"] {
		width: 1em;
		height: 1em;
	}
}
div.form_header.form_layout_table .form_label {
    color: #cfb991!important;
	background: transparent!important;
	font-family: $acumin-pro-condensed;
	border-bottom: 2px solid #cfb991;
	margin-bottom: .5em;
	margin-top: 1em;
}
/* ------------------------------------------------
	end Get on mailing list form 
-------------------------------------------------*/


/*  media queries */
@include desktopLargeMax {
	#interest-check,
	#school-check {
		label {
			line-height: 1em;
			font-size: 1.2em;
		}
		input[type="checkbox"],
		input[type="radio"] {
			width: 1em;
			height: 1em;
		}
	}
	.school {
		.jumbotron {
			font-size: 95%!important;
			
			button {
				font-size: 100%!important;
			}
			.text iframe {
				height: 257px;
			}
		} 
		
		
	}
	
}
@include desktopSmallMax {
	.autocomplete {
		position: static;
		cursor: pointer;

		#autocomplete {
			position: static;
			@include box-shadow(0 0 0, transparent, 0.0);

		
		}
	}
	.college-list-group li a {
		width: 49%;
	}
	.cta-link {
		display: block;
		width: 100%;
		margin: 5px 0;
		text-align: center;
	}
	.school {
		.cta-link {
			font-size: 1em!important;
		}
		.jumbotron {
			font-size: 110%!important;
			.text iframe {
				height: 352px;
			}
			.side {
				padding-top: 2em;
				margin-top: 2em;
				border-top: 1px solid $steel-gray;
			}
			.chart-title {
				margin-top: 1.3em;
				margin-bottom: 1em;
				padding-top: 1.3em;
				border-top: 1px solid $steel-gray;
			}
			.salary-title {
				margin-top: 1em;
			}
		} 
		
	}
}
@include tabletMax {
	
	.alpha {
		width: (100%/13);
	}
	.jumbotron.profile .text {
		font-size: 80%!important;
	}
	.main-content .filter-title {
		font-size: 2em;
	}
	#college-panels {
		ul {
			li {
				a {
					font-size: 1em;
				}
			}
		}
	}
	.school {
		.jumbotron {
			.text iframe {
				height: 251px;
			}
		} 
		
	}
	
}
@include phoneMax {
	.alpha {
		width: (100%/13);
	}
	#college-panels {
		ul {
			li {
				display: block;
				a {
					font-size: 1.1em;
					width: 100%;
				}
			}
		}
	}
	.college-list-group li a {
		width: 100%;
	}
	#interest-check,
	#school-check {
		label {
			font-size: 1em;
		}
	}
	.jumbotron.profile .text {
		font-size: 90%!important;
	}
	.major-personal {
		.portrait {
			display: block;
			margin-left: auto!important;
			margin-right: auto!important;
			float: none;
		}
		.major-personal-title {
			text-align: center!important;
			display: block!important;
			margin-bottom: 1em;
		}
		img {
			max-width: 100%;
		}
	}
	.school {
		
		.chart-title {
			margin-bottom: 0!important;
		}
		
		.jumbotron {
			.text iframe {
				width: 280px;
				height: 157px;
				margin: 0 auto;
				max-width: 100%;
			}
		}
		.major-personal {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
