.social-share {
	h2 a {
		color: #000!important;
		
		&:hover {
			color: $aged-gold!important;
		}
	}
	
	.social-media-row {
		padding: 2em 0;
		
		
		.main-content {
			overflow: hidden;
		}
		.not-mobile-friendly {
			.main-content {
				display: inline-block;
				width: inherit;
				vertical-align: top;
				overflow: hidden;
				
				&.non-responsive {
					width: 280px;
					margin-right: 20px;
				}
				&.responsive {
					width: calc(99% - (280px + 20px)*2);
				}
			}
		}
	}
	.vid-wrapper {
		background-color: $aged-gold;
		
		iframe {
			border-color: $aged-gold;
		}
	}
	
}
@include desktopLargeMax {
	.social-share {
		.social-media-row.bg-burst {
			background-position: center;
			background-size: cover;
		}
	}
}
@include desktopSmallMax {
	.social-share {
		.social-media-row {
			.not-mobile-friendly {
				.main-content {
					&.responsive {
						
						width: 100%;
						
						h2 {
							margin-top: 1em;
						}
					}
				}
			}
		}
	}
}
@include tabletMax {
	.social-share {
		.social-media-row {
			.not-mobile-friendly {
				.main-content {
					h2 {
						margin-top: 1em;
					}
					&:first-child {
						h2 {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}
