#temp-note {
	display: none;
}
/* this here only temp - gets added to casade page itself */
.progress #page {
	display: none;
}
p .proof-point {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif!important;
	font-weight: 900;
	font-size: 78%;
	letter-spacing: 1px;
	white-space: normal;
	background-color: #000;
	background: linear-gradient(to right, #231f20 , #111111, #111111, #231f20);
	text-transform: uppercase;
	padding: 1px 5px;
	border-top: 1px solid #c28e0e;
	border-bottom: 1px solid #c28e0e;
	color: #c28e0e;
}
p .proof-point.ameliablue-text {
	border-color: #A3D6D7;
	color: #A3D6D7;
}
p .proof-point.orange-text {
	border-color: #FF9B1A;
	color: #FF9B1A;
}
p .proof-point.teal-text {
	border-color: #29A592;
	color: #29A592;
}
p .proof-point.yellow-text {
	border-color: #FFD100;
}
p .proof-point.purple-text {
	border-color: #AD1F65;
	color: #AD1F65;
}
p .proof-point.brick-text {
	border-color: #B46012;
	color: #B46012;
}
p .proof-point.springgreen-text {
	border-color: #E9E45B;
	color: #E9E45B;
}
p .proof-point.celerygreen-text {
	border-color: #C3BE0B;
	color: #C3BE0B;
}
p .proof-point.slayterblue-text {
	border-color: #6E99B4;
	color: #6E99B4;
}
p .proof-point.rossadegreen-text {
	border-color: #849E2A;
	color: #849E2A;
}
p .proof-point.moon-text {
	border-color: #BAA892;
	color: #BAA892;
}

#side-links .link {
	    color: #000;
    display: block;
    padding: 15px 20px;
    border: 1px solid #555;
    margin: 2px;
    font-weight: 700!important;
    font-size: 1.1em;
    cursor: pointer;
	text-decoration: none;
}
#side-links .link:hover {
	background-color: #c28e0e;
}

.major-btn {

	display: block;
	float: left;
	margin: 1px;
	font-weight: bold!important;
	text-transform: uppercase;
}
.major-btn:hover {
	/*background-color: #98700D!important;*/
}
.intro.secondary {
	text-transform: none;
}
.btn-check {
	background-color: #C28E0E;
	color: #000;
	font-family: 'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
}
.btn-check:hover {
	background-color: #98700D;
	color: #000;
}
.proof-points img {
	
	margin: 5px 0;
}
#social-links a {
font-size: 2em;
margin: 0 5px;
	color: #c28e0e;
	
}
#social-links a:hover {
	color: #707070;
}
h2 {
	color: #999;
}
.subtitle {
	font-family: "Champion Lightweight", "Archivo Narrow","Arial Narrow","Arial",sans-serif;
	font-size: 1.7em;
	color: #999;
}

/* VIDEO */
#controls-container {
	position: relative;
}

#seek-bar {
	display: block;
	margin-bottom: 20px;
}

#controls {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 20;
}

#controls button {
	width: 24%;
	max-width: 200px;
	margin-top: 0;
	
}
		#controls button.off {
			color: #98700D!important;
		}

		
video::cue {
  color: #C28E0E;
	background-color: #000;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}


#quick-facts {
		margin: 0 auto;
	/* margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 20px;
		width: 100%;
	border-top:1px dashed #746C66;
	border-bottom:1px dashed #746C66; */
	text-align: center;
	}
#quick-facts .intro img {
	vertical-align: bottom;
}
	#quick-facts p {		
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif!important;
	}
figure {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 0;
	border: 2px #C28E0E solid;
	max-width: 100%;

		position: relative;

		overflow: hidden;
	}

figcaption {
	position: absolute;
	width: 190px;
	height: 190px;
	top: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	margin-top: 200px;
	margin-left: 200px;
	-webkit-transition: margin .8s;
	-moz-transition: margin .8s;
	-o-transition: margin .8s;
	transition: margin .8s;
}
figcaption p {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
}
#quick-facts figcaption h4 {
	color: #bbb!important;
	margin: 0;
	padding: 5px 0;
	text-align: left;
	font-size: 17px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: normal!important;
	font-family: "Champion Welterweight","Archivo Black","Arial Black","Arial Bold","Gadget",sans-serif;
}
figcaption.show {
	margin-top: 0;
	margin-left: 0;
}
figure img {
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	height: 400px;
	width: 400px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #000;
	margin: 20px;
	-webkit-transform-origin: 20% -20%;
	-moz-transform-origin: 20% -20%;
	-ms-transform-origin: 20% -20%;
	transform-origin: 20% -20%;

	-webkit-transition: -webkit-transform-origin 1s;
	-moz-transition: -moz-transform-origin 1s;
	-o-transition: transform-origin 1s;
	transition: -ms-transform-origin 1s;
	transition: transform-origin 1s;
}
.overlay.cover {
	-webkit-transform-origin: -70% 50%;
	-moz-transform-origin: -70% 50%;
	-ms-transform-origin: -70% 50%;
	transform-origin: -70% 50%;
}
.error {
	display: none!important;
}
	
.proof-points .third {
			display: inline-block;
			width: 32%;
			vertical-align: middle;
		}
		.proof-points .third img {
			width: 100%;
			height: auto;
		}
		.proof-img {
		
		width: 100%;
			height:auto;
			max-width: 400px;
		}
		.opener {
			margin: 0 auto;
			max-width: 600px;
			padding-top: 150px;
			padding-bottom: 150px;
		}
@media (max-width: 998px) { 
	
	
	#controls {
		margin-bottom: 30px;
	}
}
		
@media (max-width: 768px) { 
	
	
	.major-btn {
		float:none;
		text-align: center;
		font-size: 1em;
		margin-bottom: 5px;
	}
}
@media (max-width: 600px) { 
	
	strong.proof-point {
		white-space: normal!important;
	}

	.collegeContent figcaption p {
		font-size: 14px!important;
	}
	.side-link {
		font-size: 18px!important;
	}
	video::cue {
	  font-size: 200%;
	}
	
}
@media (max-width: 450px) { 
	figure {
		display: block;
		width: inherit;
		background-color: #3a3a3a;
		margin-bottom: 5px;
	}
	figure img {
		width: 200px;
	}
	figcaption {
		width: inherit;
	}
	figcaption h4 {
		margin-top: 10px;
	}
	.overlay {
		height: 500px;
		width: 500px;
		margin: 20%;
		-webkit-transition: -webkit-transform-origin .7s;
		-moz-transition: -moz-transform-origin .7s;
		-o-transition: transform-origin .7s;
		transition: -ms-transform-origin .7s;
		transition: transform-origin .7s;
	}

		
}
@media (max-width: 350px) { 
	
	.overlay {
		height: 400px;
		width: 400px;
		margin: 15%;
		-webkit-transition: -webkit-transform-origin .7s;
		-moz-transition: -moz-transform-origin .7s;
		-o-transition: transform-origin .7s;
		transition: -ms-transform-origin .7s;
		transition: transform-origin .7s;
	}
		
}
@media (max-width: 300px) { 
	
	.side-link {
		font-size: 16px!important;
	}
	
	.collegeContent p.intro {
		font-size: 16px!important;
	}
	.collegeContent p {
		font-size: 14px!important;
	}
	
	#controls button {
		font-size: 18px!important;
		width: 20%!important;
	}
}