#home-main-cta,
.vid-wrapper,
.video,
#social-sidebar,
#sidenav,
#site-nav,
.screen-only,
#top-link,
#breadcrumb-nav,
.footer,
.bottom,
#sidebar img,
#footer-sidebar,
.nav.nav-tabs,
.button[data-toggle="modal"],
button[data-toggle="collapse"],
a[data-toggle="modal"],
.modal button[type="button"],
#video-container,
#faq-squares,
#school,
#interest,
#view-all-majors,
.slideshow-container,
.home .note,
#go-to-majors,
.closeXP,
iframe,
.jumbotron img,
.accordion button i,
.landing #social,
.main-content .button,
.wearepurdue .proof-img,
#purdue-example .interactive-exampleP .faq-rank-nav,
.home .modal {
	display: none!important;
}
.print-only {
	display: inherit!important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.accordion .accordion__heading {
	color: #222!important;
	 page-break-after: avoid;
	margin-top: 30px!important;
}
.lead {
	color: #98700D!important;
}
.accordion .accordion__content,
.tab-pane {
	display: block!important;
}
.tab-pane {
	margin-top: 30px;
	position: static;
	opacity: 1!important;
}
.table-striped caption span {
	background-color: transparent!important;
}
.main-content a[href^=http]:after,
.landing #inner-page-content a[href^=http]:after,
all-majors #inner-page-content a[href^=http]:after,
.event-landing #inner-page-content a[href^=http]:after,
.home #inner-page-content a[href^=http]:after {
      content:" <" attr(href) "> ";
   }
body,
.main-content,
.modal-content, 
.modal-header,
.carousel-text-item,
#purdue-example .example-header {
	color: #000!important;
    background: #fff!important;
}
.dark-bg .table th,
.quote__content,
#roi {
	color: #000!important;
}
.carousel-text-item .rank,
.school .profile,
.majors .major-personal,
.majors #inner-page-content .major-personal h1,
.school #inner-page-content .profile h1,
.majors #inner-page-content .major-personal h2,
.school #inner-page-content .profile h2,
.majors #inner-page-content .major-personal h3,
.school #inner-page-content .profile h3,
.majors #inner-page-content .major-personal h4,
.school #inner-page-content .profile h4,
.majors #inner-page-content .major-personal h5,
.school #inner-page-content .profile h5,
.majors #inner-page-content .major-personal h6,
.school #inner-page-content .profile h6,
.dark-bg .table td,
.dark-bg .panel-body,
.landing .feature-btn,
.landing .blurb,
#related-majors a,
#related-career-interests a,
.home #inner-page-content #go-to-majors a {
	color: #111!important;
}
.wearepurdue .proof-point {
	border-color: #29A592!important;
	color: #29A592!important;
}
.interactive-exampleP {
	padding-top: 0!important;
	margin-bottom: 5px!important;
}
.modal,
.interactive-exampleP,
.carousel-text-item,
.inner-text,
.rankings,
.collapse,
#purdue-example,
#purdue-example .interactive-examples-wrap,
#purdue-example .interactive-exampleP,
#purdue-example .interactive-exampleP .inner-text,
#purdue-example .interactive-exampleP .rankings,
#purdue-example .interactive-exampleP .carousel-text-wrap,
#purdue-example .interactive-exampleP .carousel-text-item {
	position: static!important;
	display: block!important;
	opacity: 1!important;
	height: inherit!important;
	float: none!important;
}
#purdue-example .interactive-exampleP .inner-text {
	max-width: 100%!important;
}
.home #majors #majors-list ul li,
.home #majors #majors-list ul li a {
	display: block!important;
	float: left!important;
	color: #000!important;
	width: inherit!important;
	
}
.all-majors #college-panels li,
.all-majors #college-panels a,
.college-list-group li,
.college-list-group a {
	display: block!important;
	float: none!important;
	width: inherit!important;
	color: #000!important;
}
.jumbotron.cta .cta-link {
	width: 100%;
}
.home #majors #majors-list ul li a {
	padding-left: 20px!important;
    padding-right: 20px!important;
	display: block!important;
	opacity: 1!important;
	border: 1px solid #ccc;
	color: #000!important;
	background-color: #fff!important;
	margin: 2px!important;
}
.main-content .panel-heading {
	color: #222!important;
	background-color: #fff!important;
	border: none!important;
}
.accordion button  {
	border: none!important;
}
.main-content .panel,
.main-content .list-group-item {
	border: none!important;
}
.event-landing .utility a,
.event-landing .utility a span,
#purdue-example .interactive-exampleP .inner-text {
	padding: 5px!important;
	color: #111!important;
}
#purdue-example .interactive-exampleP .rankings .rank {
	color: #666!important;
}

#intro-text-container {
	position: static!important;
}
 @page {
      margin: 2cm;
   }

