#social-sidebar, 
#top-link,
#sidenav,
.header.header-container,
.footer__resources,
.button,
.vid-wrapper,
#footer-sidebar {
	display: none!important;
}
.footer__contact p { /* not getting through - ? */
	color: #000!important;
	font-size: 16px;
}
.dark-bg .main-content {
	color: #000!important;
}