<div class="alert alert-success">
   <strong><i class="fas fa-check"></i> Success!</strong> Indicates a successful or positive action.
</div>

<div class="alert alert-info">
  <strong><i class="fas fa-info"></i> Info!</strong> Indicates a neutral informative change or action.
</div>

<div class="alert alert-warning">
  <strong><i class="fas fa-exclamation"></i> Warning!</strong> Indicates a warning that might need attention.
</div>

<div class="alert alert-danger">
  <strong><i class="fas fa-ban"></i> Danger!</strong> Indicates a dangerous or potentially negative action.
</div>