<button class="button">Button Text Here</button>

<button class="button button-campusGold-inverse">Button Text Here</button>

<button class="button button-bar">Button Text Here</button>

<button class="button button-bar button-campusGold-inverse">Button Text Here</button>

<button class="button button-black">Button Text Here</button>

<button class="button button-gray70">Button Text Here</button>

<button class="button button-gray40">Button Text Here</button>

<button class="button button-gray15">Button Text Here</button>

<button class="button button-icon btn-block">
	Button Text Here
	<span class="button__icon fas fa-calendar-alt" aria-hidden="true"></span>
</button>

<button class="button button-slim">Button Text Here</button>
							