<a href="https://www.admissions.purdue.edu/majors/index.php" class="button button-bar">Button Text Here extra</a>

<button class="button button-campusGold-inverse button-light">campusGold-inverse light</button>

<button class="button button-bar button-gray70">bar</button>

<button class="button button-bar button-campusGold-inverse">campusGold-inverse bar</button>

<button class="button button-black button-bar">black</button>

<button class="button button-gray70 button-light">gray 70</button>

<button class="button button-gray40 button-bar">Gray 40</button>

<button class="button button-gray15 button-bar">Gray 15</button>

<button class="button button-icon btn-block button-gold button-bar button-light">
	Button icon
	<span class="button__icon fas fa-calendar-alt" aria-hidden="true"></span>
</button>

<button class="button button-slim">slim</button>
							