<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h2>Graduate Success</h2>
			<p>Most years, more than 90% of new Purdue graduates report success in finding jobs, continuing their education, or pursuing other plans (such as the Peace Corps or Teach for America) within six months of graduation. Information about grad success rates and average salaries is available on the Purdue Center for Career Opportunities (CCO) website.</p>

			<button class="button button-light button-black button-bar">Purdue Center for Career Opportunities</button>
			<button class="button button-light button-black button-bar">Career Services Data Dashboard</button>

			<hr>

			<h2>Professional Practice</h2>
			<p>Many students pursue internships or cooperative education (co-op) programs to gain work experience as part of their education. The Professional Practice website includes comprehensive information about programs, companies and student co-op salaries. In addition, CCO maintains an online resource for student internships.</p>

			<button class="button button-light button-black button-bar">Office of Professional Practice</button>
			<button class="button button-light button-black button-bar">CCO Internship &amp; Job Search</button>

			<hr>

			<h2>Who Hires Purdue Grads?</h2>
			<p>CCO also maintains a list of top partners that recruit Purdue grads.</p>
			<button class="button button-light button-black button-bar">21st Century Partners Program</button>



		</div>
		<div class="col-md-4">
			<img class="img-fluid" src="../images/career-services-500-ongold.png" alt="" />

			<img src="../images/Asian-female-student-in-science-lab-10.jpg" alt="" class="img-fluid">
			
			<!-- =================================================== -->
			<!-- Put css in individual page for this video to be     -->
			<!-- responsive, since only used like this on one page   -->
			<!-- =================================================== -->
			<iframe width="100%" height="180" src="https://www.youtube.com/embed/RgQ5m2xV7t4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		</div>
	</div>
</div>