<div class="container"><div class="row"><div class="col-lg-12"><a style="display:none;" id="top-link" href="#top"><i class="fas fa-arrow-up"></i><span class="sr-only">Back to top</span></a></div></div></div>

<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>Purdue University Office of Admissions, 475 Stadium Mall Dr., West Lafayette, IN 47907, (765) 494-1776, Hearing impaired only: 1-800-743-3333</p>
				<p><a href="http://www.purdue.edu/purdue/disclaimer.html" target="_blank"> &#169; 2015 Purdue University</a> | <a href="http://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank">An equal access/equal opportunity university</a> | <a href="http://www.purdue.edu/securepurdue/DMCAAgent.cfm" target="_blank">Copyright Complaints</a> | <a href="../index.php">Maintained by the Office of Admissions</a></p>
				<p>Trouble with this page? Disability-related <a href="http://www.purdue.edu/disabilityresources/" target="_blank">accessibility</a> issue? <a href="http://admissions.purdue.edu/privacy-statement.php">Privacy Policy</a>. Please contact the Office of Admissions at 765-494-1776 and/or <a href="mailto:admissions@purdue.edu">admissions@purdue.edu</a></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/main.js"></script>

