 <section id="footer-sidebar">
    <div class="container">
	<a id="side-menu-btn"><i class="fa fa-bars"></i></a>

	<ul id="sidenav" class="nav nav-pills flex-column">
	  <li class="active"><a style="text-transform: uppercase;color:#ddd" href="#">Section Home</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="active" href="#">Current Page</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	</ul>

	<ul id="additional-links" class="nav nav-pills flex-column">
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	</ul>
	</div>
</section>