<div class="container"><div class="row"><div class="col-lg-12"><a style="display:none;" id="top-link" href="#top"><i class="fas fa-arrow-up"></i><span class="sr-only">Back to top</span></a></div></div></div>

<div class="footer">
	<div class="container">
		<div class="row panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerone">Main Navigation <i class="fa fa-plus right"></i> <i class="fa fa-minus right"></i></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerone">
					<div class="panel-body">
						<ul>
							<li><a href="/apply/index.php" title="Applying">Applying</a></li>
							<li><a href="/academics/index.php" title="Academics">Academics</a></li>
							<li><a href="/costsandfinaid/index.php" title="Costs and Financial Aid">Costs &amp; Financial Aid</a></li>
							<li><a href="/studentlife/index.php" title="Student Life">Student Life</a></li>
							<li><a href="/admitted/index.php" title="Admitted Students">Admitted Students</a></li>
							<li><a href="/parentsfamilies/index.php" title="Parents and Families">Parents &amp; Families</a></li>
							<li><a href="/counselors/index.php" title="High School Counselors">High School Counselors</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footertwo">Admissions Resources <i class="fa fa-plus right"></i> <i class="fa fa-minus right"></i></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footertwo">
					<div class="panel-body">
						<ul>
							<li><a href="/apply/admissiondocuments.php" title="Admissions Documents">Admissions Documents</a></li>
							<li><a href="https://www.purdue.edu/bursar/tuition/calculator/" target="_blank" title="Cost Calculator">Tuition Calculator</a></li>
							<li><a href="http://www.purdue.edu/dfa/cost/estimator.html" target="_blank" title="Financial Aid Estimator">Financial Aid&#160;Estimator</a></li>
							<li><a href="https://calendar.purdue.edu/" target="_blank" title="University Calendar">University Calendar</a></li>
							<li><a href="/contact/counselors/index.php">Admissions Counselors</a></li>
							<li><a href="/contact/counselors/index.php" target="_blank">Campus Directory</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerthree">Campus Resources <i class="fa fa-plus right"></i> <i class="fa fa-minus right"></i></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerthree">
					<div class="panel-body">
						<ul>
							<li><a href="https://mypurdue.purdue.edu/" target="_blank" title="MyPurdue">MyPurdue</a></li>
							<li><a href="http://portal.office.com/" target="_blank" title="Office 365">Office 365</a></li>
							<li><a href="https://www.lib.purdue.edu/" target="_blank" title="Purdue Libraries">Libraries</a></li>
							<li><a href="https://www.itap.purdue.edu/" target="_blank" title="Information Technology at Purdue">ITaP</a></li>
							<li><a href="https://www.purdue.edu/campus_map/index.html" target="_blank" title="Campus Map">Campus Map</a></li>
							<li><a href="https://www.purdue.edu/physicalfacilities/constructionmap/index.html" target="_blank" title="Construction Notices">Construction Notices</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerfour">Things To Do <i class="fa fa-plus right"></i> <i class="fa fa-minus right"></i></a></h4>
				</div>
				<div class="panel-collapse collapse" id="footerfour">
					<div class="panel-body">
					<ul>
						<li><a href="/request/index.php" title="Request Information">Request Info</a></li>
						<li><a href="/apply/index.php" title="Apply">Apply</a></li>
						<li><a href="/visit/index.php" title="Visit">Visit Purdue</a></li>
						<li><a href="/apply/applicationstatus.php" title="Check Application Status">Check Application Status</a></li>
						<li><a href="/admitted/acceptoffer.php" title="Accept Your Offer">Accept Your Offer</a></li>
						<li><a href="/contact/index.php" title="Contact Us">Contact Us</a></li>
					</ul>
					</div>
				</div>
			</div>
			<div class="motto">
				<img style="margin-top: 20px" alt="150 Years of Giant Leaps. Purdue University." class="horizontal" src="https://www.admissions.purdue.edu/images/logo-branding/footer-logo-horizontal.png"/> <img alt="150 Years of Giant Leaps. Purdue University." class="vertical" src="https://www.admissions.purdue.edu/images/logo-branding/footer-logo-vertical.png"/>
				
				<a title="Facebook" href="http://www.facebook.com/PurdueAdmissions" target="_blank">
					<i class="fab fa-facebook-f"></i></a> 
				<a title="Twitter" href="http://www.twitter.com/PurdueAdmission" target="_blank">
					<i class="fab fa-twitter"></i></a> 
				<a title="YouTube" href="https://www.youtube.com/playlist?list=PLGwgTarsp82RSVtA8-Z5W_jdBdrm5bCWB" target="_blank">
					<i class="fab fa-youtube"></i></a> 
				<a title="Instagram" href="http://instagram.com/purdueadmission" target="_blank">
					<i class="fab fa-instagram"></i></a> 
				<a title="Pinterest" href="http://www.pinterest.com/lifeatpurdue/" target="_blank">
					<i class="fab fa-pinterest"></i></a>
			</div>
		</div>
	</div>
</div><!-- end footer -->

<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>Purdue University Office of Admissions, 475 Stadium Mall Dr., West Lafayette, IN 47907, (765) 494-1776, Hearing impaired only: 1-800-743-3333</p>
				<p><a href="http://www.purdue.edu/purdue/disclaimer.html" target="_blank"> &#169; 2015 Purdue University</a> | <a href="http://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank">An equal access/equal opportunity university</a> | <a href="http://www.purdue.edu/securepurdue/DMCAAgent.cfm" target="_blank">Copyright Complaints</a> | <a href="../index.php">Maintained by the Office of Admissions</a></p>
				<p>Trouble with this page? Disability-related <a href="http://www.purdue.edu/disabilityresources/" target="_blank">accessibility</a> issue? <a href="http://admissions.purdue.edu/privacy-statement.php">Privacy Policy</a>. Please contact the Office of Admissions at 765-494-1776 and/or <a href="mailto:admissions@purdue.edu">admissions@purdue.edu</a></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/main.js"></script>
