<section id="footer-sidebar">
    <div class="container">
	<a id="side-menu-btn"><i class="fas fa-bars"></i><a class="sr-only">menu</a></a>

	<ul id="sidenav" class="nav nav-pills flex-column">
	  <li class="top-level"><a href="#">Section Home</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="active" href="#">Current Page</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	  <li><a class="" href="#">Sub Menu Item</a></li>
	</ul>

	<ul id="additional-links" class="nav nav-pills flex-column">
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	  <li><a class="" href="#">Additional Link</a></li>
	</ul>
	</div>
</section>