	<div class="container">
        <a class="nav nav-skipto" href="#main">Skip to main content</a>
    </div>
    <form id="google-search" role="search"><!-- search input = #gsc-i-id1 / button.gsc-search-button = submit-->
			<div class="form-group">
				<div class="gcse-searchbox-only" data-newwindow="false" data-queryparametername="q" data-resultsurl="//www.admissions.purdue.edu/searchresults.php"></div>
				<script type="text/javascript">// <![CDATA[
				(function() {
					var cx = '011225875070567181178:y4irzmqvmv8';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				  })();
				// ]]></script>
				<script type="text/javascript"></script>

			</div>
		</form>
    <!-- Begin Top Navigation -->
       <!-- gold bar -->
        <div class="navbar" role="navigation" id="goldbar">
			<div class="container">
				<div class="navbar-header">
					<button id="quicklinks-btn" type="button">
						<i class="fas fa-bars"></i> Quick Links
					</button>
				</div>
				
				<ul class="nav navbar-nav mr-auto information">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Info For <b class="caret"></b></a>
						<ul class="dropdown-menu"><p class="hide">Find Info For</p>
							<li><a href="/index.php">Prospective Students</a></li>
							<li><a href="/admitted/index.php">Admitted Students</a></li>
							<li><a href="http://www.purdue.edu/purdue/current_students/index.php" target="_blank">Current Students</a></li>
							<li><a href="/parentsfamilies/index.php">Parents and Families</a></li>
							<li><a href="/counselors/index.php">High School Counselors</a></li>
							<li><a href="http://www.purdue.edu/purdue/about/index.php" target="_blank">About Purdue</a></li>
							<li><a href="http://www.purdue.edu/purdue/careers/index.php" target="_blank">Student Employment</a></li>
							<li><a href="http://www.purdue.edu/purdue/commercialization/index.php" target="_blank">Entrepreneurship and Commercialization</a></li>
						</ul>
					</li>
				</ul>
				<div class="quicklinks-wrapper">
					<ul class="nav navbar-nav ml-auto quicklinks">
						<li><a href="/request/index.php">Request Info</a></li>
						<li><a href="/visit/index.php">Visit</a></li>
						<li><a href="/apply/index.php">Apply</a></li>
						<li><a href="/apply/applicationstatus.php">Application Status</a></li>
						<li><a href="/admitted/acceptoffer.php">Accept Your Offer</a></li>
						<li id="google-search-item">
							<input type="text" id="google-input">
							<a id="open-search" href="#"><i class="fas fa-search search-icon"></i><span class="sr-only">Search</span></a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		
		
		<!-- logo -->
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="logo col-lg-2 col-md-3 col-sm-12">
						<a href="https://www.purdue.edu">
							<img alt="Purdue University" src="https://www.purdue.edu/purdue/images/logo.png"/>
						</a>
					</div>
					<div class="department col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<a href="/index.php">Undergraduate Admissions</a><!--<span class="tagline"><a href="#">Website tagline</a></span>-->
					</div>
				</div>
			</div>
		</div>
		
		<!-- main nav -->
		<div class="navbar navbar-expand-md navbar-inverse" role="navigation" id="site-nav">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-target="#main-nav" data-toggle="collapse" type="button">
						<i class="fas fa-bars"></i> Menu
					</button>
				</div>
				<div class="navbar-collapse collapse" id="main-nav">
					<ul class="nav navbar-nav">
						<li><a href="/index.php">Home</a></li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/apply/index.php">Applying<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/apply/index.php">Applying to Purdue</a></li>
								<li><a href="/apply/deadlines.php">Deadlines &amp; Dates</a></li>
								<li><a href="/apply/applicationstatus.php">Check Your Application Status</a></li>
								<li><a href="/apply/admissiondocuments.php">Admissions Documents</a></li>
								<li><a href="/transfer/index.php">Transfer Students</a></li>
								<li><a href="/transfercredit/index.php">Transferring Credit to Purdue</a></li>
								<li><a href="/apply/closedprograms.php">Closed Programs</a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/academics/index.php">Academics<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/academics/index.php">Academics</a></li>
								<li><a href="/majors/index.php">Majors at Purdue</a></li>
								<li><a href="/academics/freshmanprofile.php">Freshman Class Profile</a></li>
								<li><a href="/academics/enrollment.php">Student Enrollment</a></li>
								<li><a href="/academics/facultyandcourses.php">Faculty and Courses</a></li>
								<li><a href="/academics/honorscollege.php">Purdue Honors College</a></li>
								<li><a href="http://www.purdue.edu/studentsuccess/orientation/learning_communities/index.html" target="_blank">Learning Communities</a></li>
								<li><a href="/academics/academicsupport.php">Resources for Academic Support</a></li>
								<li><a href="http://www.studyabroad.purdue.edu/" target="_blank">Study Abroad</a></li>
								<li><a href="/academics/careerprep.php">Career Preparation</a></li>
								<li><a href="http://www.purdue.edu/dfa/contact/consumer-information.html" target="_blank">Student Consumer Information</a></li>
								<li><a href="http://www.purdue.edu/accreditation/index.shtml" target="_blank">Accreditation</a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/costsandfinaid/index.php">Costs and Financial Aid<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/costsandfinaid/index.php">Costs and Financial Aid</a></li>
								<li><a href="/costsandfinaid/tuitionfees.php">Tuition and Fees</a></li>
								<li><a href="https://www.purdue.edu/dfa/cost/estimator.html">Financial Aid Estimator</a></li>
								<li><a href="/apply/deadlines.php">Deadlines &amp; Dates</a></li>
								<li><a href="/costsandfinaid/scholarships.php">Scholarships</a></li>
								<li><a href="http://www.fafsa.ed.gov/" target="_blank">FAFSA</a></li>
								<li><a href="http://www.purdue.edu/dfa" target="_blank">Division of Financial Aid</a></li>
								<li><a href="http://www.purdue.edu/registrar/currentStudents/residency/index.html" target="_blank">Qualifying for In-State Tuition</a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/studentlife/index.php">Student Life<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/studentlife/index.php">Student Life</a></li>
								<li><a href="/studentlife/arts.php">Arts and Culture</a></li>
								<li><a href="/studentlife/athletics.php">Athletics</a></li>
								<li><a href="/studentlife/community.php">Building Community</a></li>
								<li><a href="/studentlife/clubs.php">Clubs and Activities</a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/visit/index.php">Visit Purdue<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/visit/index.php">Visit Purdue</a></li>
								<li><a href="/visit/travelplans.php">Travel and Lodging</a></li>
								<li><a href="/visit/virtualtour.php">Virtual Tour</a></li>
							</ul>
						</li>
                        <li><a href="/admitted/index.php">Admitted Students</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
        <!-- End Top Navigation -->
