<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

var addLegend = ''; // for mobile
var dataSet = [
	  ['Action', 'Percent'],
	  ['Employed', 66.56],
	  ['Continuing Education', 18.87],
	  ['Seeking Employment', 8.28],
	  ['Seeking Education', 3.31],
	  ['Other', 2.98],
	]

var colorSet = ['#cfb991','#ebd99f','#ddb945','#daaa00','#8e6f3e'];
for(var a = 0; a < dataSet.length; a++){
	if(a !== 0){
		addLegend += '<p style="border-left: 15px solid ' + colorSet[a-1] + '" class="m-legend">' + dataSet[a][0] + ': <span>' + dataSet[a][1] + '%</span></p>';
	}
}

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable(dataSet);

	
  // Optional; add a title and set the width and height of the chart
	// Couldn't get legend to display correctly for mobile with the settings
	// below
	var legendPos, fontSize, chartHeight, chartWidth;
	if (window.innerWidth < 576){
		legendPos = 'none'; // tried with top
		fontSize = 14;
		chartHeight = '90%';
		chartWidth = '80%';
	} else {
		legendPos = null;
		fontSize = 17;
		chartHeight = '90%';
		chartWidth = '100%';
	}
	
  var options = {
	  
	  pieStartAngle: 110,
	  'backgroundColor': 'transparent',
	  'colors': colorSet,
	  //tooltip: { trigger: 'none' },
	  'pieSliceTextStyle': {
            color: '#000',
		   'fontName':"United Sans Condensed"
       },
	  'chartArea':{
		  left: '5%',
		  top: '5%',
		  width: chartWidth,
		  height: chartHeight
	  },
	  'pieSliceBorderColor' : '#000',
	  'fontSize':'20',
	  'fontName':"United Sans Condensed",
	  'legend':{
		  maxLines: 100,
		  position: legendPos,
		  alignment: 'start',
		  textStyle: {
			  fontSize: fontSize,
			  color: '#9d9795'
		  }
	  }
  };
	

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
	
	// create legend in place of google's not displaying well
	if (window.innerWidth < 576){
		document.getElementById('mobile-legend').innerHTML = addLegend;
	} 
	
}
</script>