 <section id="social-sidebar">
    <div class="container">
	<a id="side-social-btn"><i class="fa fa-share-alt"></i></a>

	<ul id="social-links" class="nav nav-pills flex-column">
		<li><a class="slayterblue-text" href="#"><i class="fab fa-facebook-square"></i></a></li>
		<li><a class="ameliablue-text" href="#"><i class="fab fa-twitter"></i></a></li>
		<li><a class="orange-text" href="#"><i class="fab fa-instagram"></i></a></li>
		<li><a class="yellow-text" href="#"><i class="fab fa-snapchat-ghost"></i></a></li>
		<li><a class="purple-text" href="#"><i class="fab fa-pinterest"></i></a></li>
	</ul>
	</div>
</section>