<div class="table-responsive"><!-- reponsive tables for current Bootstrap must be wrapped like this because of bug -->
<table class="table table-striped" cellpadding="0" cellspacing="0">
	<caption><span>This is a Table Caption</span></caption>
	<thead>
		<tr>
			<th>
				Header 1 lettuce avocado asparagus okra
			</th>
			<th>
				Header 2
			</th>
			<th>
				Header 3
			</th>
			<th>
				Header 4
			</th>
			<th>
				Header 5
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>table data</td>
			<td>table data</td>
			<td>table data lettuce avocado asparagus okra</td>
			<td>table data</td>
			<td>table data</td>
		</tr>
		<tr>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
		</tr>
		<tr>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
		</tr>
		<tr>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
			<td>table data</td>
		</tr>
	</tbody>
</table>
</div>